<header class="jumbotron">
<h1>{{model.title}}</h1>
</header>

<img src="{{model.image}}" nalt="Image">


<ul>
  <li>Author:{{model.author}}</li>
  <li>Date Published:{{model.date}}</li>
  <li>{{model.body}}</li>
</ul>
