<div class="container">
  <header class="jumbotron">
    <h1>Bustle & Hustle</h1>
  </header>
</div>

<ul>
  {{#each model as |article|}}
    <h1>{{article.title}}</h1>
    <li>{{#link-to 'article' article.id}}<img src="{{article.image}}" alt="img" width="350px">{{/link-to}}</li>
    <li>Author:{{article.author}}</li>
    <li>Date:{{article.date}}</li>
    <li>Article:{{article.body}}</li>
  {{/each}}
  </ul>
  {{#link-to 'about'}}Home{{/link-to}}
  {{#link-to 'gossip'}}Click here to gossip{{/link-to}}
